@font-face {
    font-family: sushi;
    src: url('media/HIROMISAKE.ttf');
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sushi;
}

/* ----------------firstScreen--------------- */

#firstScreen{
    width: 100vw;
    height: 100vw;
    margin-top: 0;
    padding-top: 35vh;
    text-align: center;
    background: rgb(82,19,25);
    background: linear-gradient(180deg, rgba(82,19,25,1) 0%, rgba(224,122,147,1) 100%);
    background-repeat: no-repeat;
}

#firstScreenH1{
    margin: 5vw;
    font-size: 3vw;
}

#firstScreenH2{
    font-size: 1vw;
    animation: float 1.5s ease-in-out infinite alternate;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/* ----------------StartScreen--------------- */

#startScreen{
    width: 100%;
}

#headline{
    text-align: center;
    
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
                 0 0 10px rgba(255, 255, 255, 0.6),
                 0 0 15px rgba(255, 0, 111, 0.8),
                 0 0 20px rgba(0, 153, 255, 0.6);
}

video{
    width: 100%;
    position: absolute;
    z-index: -2;
}
