:root{
    --pink: #ed9ba3;
    --red: #9d1926;
}

@font-face {
    font-family: sushi;
    src: url('media/HIROMISAKE.ttf');
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sushi;
}

/* ----------------firstScreen--------------- */

#firstScreen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url('media/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
}

#firstScreenH1{
    text-align: center;
    font-size: 6vw;
    color: var(--pink);
    text-shadow: 2px 2px 5px var(--red);
    transition: all 1s;
}

#firstScreenH1:hover{
    transform: scale(1.03);
}

#firstScreenH2{
    text-align: center;
    font-size: 1.5vw;
    color: var(--red);
    text-shadow: 2px 2px 5px var(--red);
    animation: float 1.5s ease-in-out infinite alternate;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/* ----------------StartScreen--------------- */

@keyframes slideUpFirst {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideUpSecond {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOutScale {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

.info-show {
    animation: fadeInScale 0.3s ease-out forwards;
}

.info-hide {
    animation: fadeOutScale 0.3s ease-out forwards;
}

.slide-up-first {
    animation: slideUpFirst 1s forwards;
}

.slide-up-second {
    animation: slideUpSecond 1s forwards;
}

#startScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: black;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

.show {
    display: flex;
    animation: fadeIn 1s ease-out forwards;
}

#headline{
    text-align: center;
    font-size: 6vw;
    color: var(--pink);
    text-shadow: 2px 2px 5px var(--red);
    transition: all 1s;
}

#headline:hover{
    transform: scale(1.03);
}

video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

/*Buttons von UIVERSE*/

#playButton {
    padding: 1.3em 3em;
    text-transform: uppercase;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    font-weight: 500;
    color: #000;
    background-color: var(--pink);
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: sushi;
    display: block;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  #playButton:hover {
    background-color: var(--red);
    box-shadow: 0px 15px 20px var(--red);
    color: #fff;
    transform: translateY(-7px);
  }
  
  #playButton:active {
    transform: translateY(-1px);
  }

  #row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
  }

  #soundImage{
    object-fit: contain;
    display: block;
    width: 6%;
    transition: all 1s;
  }

  #soundImage:hover{
    transform: scale(1.03);
  }

  #infoButton{
    padding: 2.2% 2.6%;
    text-transform: uppercase;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    font-weight: 500;
    color: #000;
    background-color: var(--pink);
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: sushi;
  }

  #infoButton:hover{
    background-color: var(--red);
    box-shadow: 0px 15px 20px var(--red);
    color: #fff;
    transform: translateY(-7px);
  }

  #infoButton:active{
    transform: translateY(-1px);
  }

  #infoBox{
    background-color: var(--pink);
    width: 50vw;
    margin-left: 25vw;
    margin-top: 5vh;
    text-align: center;
    padding: 2vw;
    border-radius: 15px;
    border: black solid 2px;
    box-shadow: 0px 8px 15px var(--red);
    font-size: 1.5vw;
    position: fixed;
    transition: all 0.3s ease 0s;
    z-index: 5;
  }

  #infoBox:hover{
    transform: translateY(-7px);
  }

  #infoBox:active{
    transform: translateY(-1px);
  }

  #backButton{
    padding: 1.3em 3em;
    text-transform: uppercase;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    font-weight: 500;
    color: #000;
    background-color: var(--red);
    border: 2px solid black;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: sushi;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
  }

  #backButton:hover {
    box-shadow: 0px 15px 20px var(--red);
    color: #fff;
    transform: translateY(-7px);
  }
  
  #backButton:active {
    transform: translateY(-1px);
  }


/*-------------Game----------- */

#gameScreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--pink);
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3vw;
}
.content {
    display: flex;
    flex: 1;
}
.column {
    flex: 1;
    border: 1px solid #000000;
}
#sushiClickScreen{
    background-image: url('media/GamePic.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#sushi{
    width: 50%;
    height: auto;
    transition: all 0.5s;
    margin-top: 0;
}

#sushi:hover {
    transform: translateY(-7px);
  }
  
  #sushi:active {
    transform: translateY(-1px);
  }

  #chefUpgradeScreen {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
}

.chef {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    background: #fff;
    padding: 1vw;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chef img {
    width: 25.5%;
    height: auto;
    border-radius: 5px;
}

.upgrade-button {
    padding: 5px 10px;
    background-color: var(--pink);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    font-family: sushi;
}

.upgrade-button:hover {
    box-shadow: 0px 15px 20px var(--red);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .upgrade-button:active {
    transform: translateY(-1px);
  }

.upgrade-button:hover {
    background-color: var(--red);
}

#sushiUpgradeScreen {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
}

.sushi {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    background: #fff;
    padding: 1vw;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sushi img {
    width: 25.5%;
    height: auto;
    border-radius: 5px;
}